html {
  background-color:black;
}

button {
  height: 50px;
  font-size: 24px;
}
#quotes {
  background-color: blue;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

#quotespace {
  margin: 0 auto;
  background-color: yellow;
  height: 400px;
  width: 70%;
  color: red;
  font-size: 40px;
}

#buttonarea {
  margin: 0 auto;
}